body{
    background-image: url("331608_Background for a fantasy library  _xl-1024-v1-0.png");
    color: wheat;
    background-size: 100%;
    background-position-y: -80%;
    text-shadow: black 2px 2px 2px ;
}
h3{
    text-align: center;
}
